# app settings and db connection
/MTBackend/appsettings.Development.json
/MTBackend/appsettings.json
MTBackend.sln
/MTBackend/Models/Deprecated Models/
/MTBackend/Models/Users.txt

# https config
/MTBackend/https.pfx

# csproject files
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
Dockerfile
docker-compose.yml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

